{% extends 'base.html' %}

{% block title %}
Community
{% endblock title %}

{% block body %}
<div class="container-fluid bg-dark p-5 text-white ">
    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">Muhammad Hammad <span class="text-muted">SP20-BCS-061</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Praesentium dolorem excepturi itaque numquam ipsa soluta accusamus, odit ab repellat sapiente inventore maxime ea fugiat tempore nulla laudantium quisquam! Error eaque consequatur beatae in voluptatem asperiores voluptatibus repellendus sapiente rem pariatur facilis maxime, ex obcaecati provident, nobis possimus ad magnam! Libero saepe rem quasi temporibus unde assumenda, adipisci voluptatum. Dicta voluptas animi explicabo laboriosam? Eveniet, dolor in nulla suscipit necessitatibus, incidunt repellat officiis id rem maiores explicabo cum sed repudiandae porro.</p>
      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Muhammad Kamal Abid<span class="text-muted"> SP20-BCS-062</span></h2>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quo neque omnis iure harum perferendis labore recusandae minima iusto cum eaque, odit facere magni, nostrum eum perspiciatis nulla illum dolores nobis incidunt architecto nisi delectus maiores exercitationem quas. Architecto, quasi aut reprehenderit, dolorum laboriosam fuga, a consequuntur error sed dolor omnis nisi facere pariatur inventore ipsa! Unde incidunt nihil neque temporibus nostrum doloribus, sunt fuga autem delectus quaerat ut hic molestiae quia tempora iste ab. Nisi deserunt adipisci enim tempore repudiandae!</p>
      </div>
    </div>
</div>
{% endblock body %}