{% extends 'game.html' %}

{% block titleExt %}<h3>Professional Players</h3>{% endblock titleExt %}

{% block gameBody %}
<div class="album bg-dark">
    <div class="container-fluid px-5">
      <div class="row">
        {% for player in proPlayers %}
          <div class="col-md-12 text-white">
            <h2 class="fw-light">{{player.team.prefix}}{{player}} <i class="bi bi-check-circle-fill" style="font-size: 20px;"></i></h2>
            <h3 class="text-end">Earnings: {{player.earnings}}$</h3>
            <p>{{player.aboutPlayer}}</p>
          </div>
          <hr style="color: white;">
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock gameBody %}